*.psd filter=lfs diff=lfs merge=lfs -text
yolo/runs/train/carpk_yolov9/weights/*.pt filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
yolo/prepared_data/** filter=lfs diff=lfs merge=lfs -text
